extends layout
block content
	section#exp
		h1 Comments
		//br
		//p #{user.username}
		//p Comment:
		//form(role='form', action='/comments', method='POST', style='max-width: 300px;')
		//	.form-group
		//		input.form-control(type='text', name='comment', placeholder='Comment')
		//	br
		//	button.btn.btn-default(type='submit') Submit
		form(method="POST" action="/Comments")
			label(for="comment") Please leave a comment: &nbsp
			br
			br
			input(type="textarea", name="comment", style='width: 300px; height: 50px;')
			br
			if (!user)
				p Please sign in to leave a comment
			if (user)
				br
				input(type="submit", value="Save")
		br
		- for comment in comments
			section#commentContainer
				p #{comment.username} : #{comment.comment}
			//br
		//	p= comment.comment