extends layout
block content
	section#ext
		h2 References
		br
		a(href='http://mherman.org/blog/2014/12/31/node-and-mongoose-a-primer/') Node, Express, and MongoDB - a Primer
		br
		a(href='http://mherman.org/blog/2015/01/31/local-authentication-with-passport-and-express-4/') User Authentication with Passport and Express 4
		br
		a(href='https://docs.mongodb.com/manual/reference/method/js-collection/') Collection Methods - mongoDB Documentation
		br
		a(href='http://www.tutorialspoint.com/mongodb/mongodb_query_document.htm') MongoDB - Query Document
		br
		a(href='http://www.tutorialspoint.com/mongodb/index.htm') MongoDB Tutorial - TutorialsPoint
		br
		a(href='http://www.w3schools.com/cssref/default.asp') CSS Reference - w3schools