extends layout
block content
	section#ext
		center
			.container
				h1 Register Page
				br
				form(role='form', action='/register', method="POST", style='max-width: 300px;')
					.form-group
						input.form-control(type='text', name='username', placeholder='Enter Username')
					.form-group
						input.form-control(type='password', name='password', placeholder='Password')
					br
					button.btn.btn-default(type='submit') Submit
					a(href='/loginLanding')
						button.btn.btn-default(type="button") Cancel