extends layout
block content
  section#ext
    p The theme of the website is pretty basic.
    p It essentially aims to bring back the memory of some really popular computer games from the turn of the millennium, sort of creating a nostalgic feeling and reminding us of our childhood.
    p The tic-tac-toe also follows along the same theme, though it dates back even further to a time when computer games didn't really exist for most kids, to perhaps the first ever video game - Bertie the Brain - which was itself a variation of the game of Tic-Tac-Toe.
