extends layout
block content
  section#exp
    | The rules of the game are really quite simple. It's basic Tic-Tac-Toe. The objective of the game is to get three circles or crosses in a line. Each player takes a turn, and marks one of the empty blocks using their assigned marker (either a circle or a square). The first player to get either three in a row, in a column, or diagonally wins. Failure to get three in a straight line by either player results in a draw.
    br
    | 			This game is designed as a single player game, to be played against the computer. The user simply clicks on an empty block where he/she wishes to mark. The computer plays a counter move, and the game proceeds.

